{% assign collection = section.settings.collection.products %}
<div class="featured-collection-section my-4">
    <div class="container">
        <div class="section-header">
            <h1 class="heading">{{ section.settings.heading }}</h1>
            {% if section.settings.sub_heading  != blank %}
                <div class="sub-heading">
                    {{ section.settings.sub_heading }}
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% for product in collection %}
                <div class="col-md-3">
                    <div class="card my-2">
                        <div class="card-body">
                            {{ product.featured_image |  image_url: width: 300 |  image_tag  }}
                            <div class="product-info">
                                <p><strong>{{ product.title }}</strong></p>
                                <p>Price: {{ product.price |  money }}</p>
                                <div class="CTA">
                                    <a href="{{ product.url }}" class="btn btn-secondary w-100">View Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                {% for item in (1..8) %}
                <div class="col-md-3">
                    <div class="card my-2">
                        <div class="card-body">
                            {%- capture current -%}
                                {%- cycle 1, 2, 3, 4 -%}
                            {%- endcapture -%}
                            {{ 'product-apparel-' | append: current |  placeholder_svg_tag: 'placeholder-svg' }}
                            <div class="product-info">
                                <h3>Product {{ forloop.index }}</h3>
                                <p>Price: $24.00</p>
                                <div class="CTA">
                                    <a href="#" class="btn btn-secondary w-100">View Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endfor %}            
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Featured collection",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Featured collection"
        },
        {
            "type": "richtext",
            "id": "sub_heading",
            "label": "Sub heading"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "Select collection"
        }
    ],
    "presets": [
        {
            "name": "Featured collection",
            "category": "collection"
        }
    ]
}
{% endschema %}