{% liquid
   if section.settings.column == '2'
    assign col = 'col-md-6'
    elsif section.settings.column == '3'
    assign col = 'col-md-4'
    elsif section.settings.column == '4'
    assign col = 'col-md-3'
    elsif section.settings.column == '6'
    assign col = 'col-md-2'
    else 
    assign col = 'col'
   endif
%}
{% if section.blocks.size > 0 %}
<div class="footer-section">
    <div class="footer-main pt-5 pb-3">
        <div class="container">
            <div class="row">
                {% for block in section.blocks %}
                   {% case block.type %}
                    {% when 'brand_info' %}
                        <div class="{{- col -}}">
                            <div class="brand-info">
                                <a href="{{ shop.url }}">
                                    {% if block.settings.image != blank %}
                                        {{ block.settings.image |  image_url: width: 200 |  image_tag  }}
                                    {% else %}
                                        <span class="h3">{{ shop.name }}</span>
                                    {% endif %}
                                </a>
                                <div class="rte mt-3">
                                    {{ block.settings.rte }}
                                </div>
                            </div>
                        </div>
                    {% when 'menu' %}
                        <div class="{{- col -}}">
                            <div class="footer-links">
                                <div class="link-heading mb-3">
                                    <h4>{{ block.settings.title }}</h4>
                                </div>
                                <div class="links">
                                    {% assign links = block.settings.footer_menu.links %}
                                    <ul class="list-unstyled">
                                        {% for link in links %}
                                            <li>
                                                <a href="{{ link.url }}">{{ link.title }}</a>
                                            </li>
                                        {% else %}
                                            {% for i in (1..4) %}
                                                <li>Link {{ forloop.index }}</li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% when 'info' %}
                        <div class="{{- col -}}">
                            <div class="footer-info">
                                <div class="link-heading mb-3">
                                    <h4>{{ block.settings.title }}</h4>
                                </div>
                                <div class="info">
                                    {{ block.settings.html }}
                                </div>
                                {% if block.settings.payment_methods != blank %}
                                    <div class="payment-methods">
                                        {{ block.settings.payment_methods | image_url: width: 250 |  image_tag }}
                                    </div>
                                {% endif %}
                            </div>   
                        </div>                             
                    {% endcase %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="footer-bottom py-3">
       <div class="d-flex justify-content-center align-items-center">
        <p class="m-0">{{ section.settings.copyright }}</p>
       </div>
    </div>
</div>
{% endif %}

{% schema %}
{
    "name": "Footer menu",
    "settings": [
        {
            "type": "select",
            "id": "column",
            "label": "Column per row",
            "options": [
                {
                    "label": "2 column",
                    "value": "2"
                },
                {
                    "label": "3 column",
                    "value": "3"
                },
                {
                    "label": "4 column",
                    "value": "4"
                },
                {
                    "label": "6 column",
                    "value": "6"
                }
            ],
            "default": "3"
        },
        {
            "type": "liquid",
            "id": "copyright",
            "label": "Copyright Text",
            "default": "&copy; {{ shop.name }} | All rights reserved!"
        } 
    ],
    "blocks": [
        {
            "type": "brand_info",
            "name": "Brand info",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image/Logo"
                },
                {
                    "type": "richtext",
                    "id": "rte",
                    "label": "Text",
                    "default": "<p>A details about your brand!</p>"
                }
            ]
        },
        {
            "type": "menu",
            "name": "Menu",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Menu Heading",
                    "default": "Footer Menu"
                },
                {
                    "type": "link_list",
                    "id": "footer_menu",
                    "label": "Footer Menu"
                }
            ]
        },
        {
            "type": "info",
            "name": "Info",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Menu Heading",
                    "default": "Footer Menu"
                },
                {
                    "type": "html",
                    "id": "html",
                    "label": "Text",
                    "default": "You can write your text here. This field also support html"
                },
                {
                    "type": "image_picker",
                    "id": "payment_methods",
                    "label": "Payment Method icons"
                }
            ]
        }
    ]
}
{% endschema %}