<div class="header-section">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ shop.url }}">
                {% if settings.logo != blank %}
                    <img src="{{ settings.logo | img_url:'small' }}" width="auto" height="auto">
                {% else %}
                    {{ shop.name }}
                {% endif  %}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for link in section.settings.menu.links %}
                <li class="nav-item{% if link.links.size > 0 %} dropdown{% endif %}">
                    <a class="nav-link{% if link.links.size > 0 %} dropdown-toggle{% endif %}" aria-current="page" href="{{ link.url }}"{% if link.links.size > 0 %} data-bs-toggle="dropdown" aria-expanded="false"{% endif %}>{{ link.title }}</a>
                        {% if link.links.size > 0 %}
                            <ul class="dropdown-menu">
                                {% for child in link.links %}
                                    <li><a class="dropdown-item" href="{{ child.url }}">{{ child.title }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                </li>
                {% endfor %}
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="header-cart-count mx-2">
            <a href="{% if settings.cart_type == 'drawer' %}#offcanvasRight{% else %}{{ routes.cart_url }}{% endif %}" class="cart_link"{% if settings.cart_type == 'drawer' %} type="button" data-bs-toggle="offcanvas" aria-controls="offcanvasRight"{% endif %}>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                    </svg>
                    {% if cart.item_count > 0 %}
                    <span id="cartCounter">
                        ({{ cart.item_count }})
                    </span>
                    {% endif %}
                </a>
            </div>
            </div>
        </div>
        </nav>
</div>

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
        }
    ]
}
{% endschema %}