<div class="header-section">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ shop.url }}">
                {% if settings.logo != blank %}
                    <img src="{{ settings.logo | img_url:'small' }}" width="auto" height="auto">
                {% else %}
                    {{ shop.name }}
                {% endif  %}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for link in section.settings.menu.links %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ link.url }}">{{ link.title }}</a>
                </li>
                {% if link.links.size > 0 %} 
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ link.title }}
                    </a>
                    <ul class="dropdown-menu">
                        {% for child in link.links %}
                            <li><a class="dropdown-item" href="{{ child.url }}">{{ child.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            </div>
        </div>
        </nav>
</div>

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
        }
    ]
}
{% endschema %}