<div class="search-template-section">
    <div class="container">
        <div class="search-form-header py-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form action="{{ routes.search_url }}" method="get" role="search">
                        <div class="d-flex">
                            <input class="form-control mx-2" type="search" name="q" id="searchBox" value="{{ search.terms |  escape }}" placeholder="Search">
                            <input type="hidden" name="options[prefix]" value="last">
                            <button type="submit" class="btn btn-primary btn-sm">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% if search.results.size > 0 %}
            <div class="search-results">
                <div class="row">
                    {% for item in search.results %}
                        {% case item.object_type %}
                            {% when 'product' %}
                                {% render 'card-product', product: item %}
                            {% when 'article' %}
                            <div class="col-md-3 article">
                                <a href="{{ item.url }}">{{ item.title }}</a>
                            </div>
                            {% when 'page' %}
                            <div class="col-md-3 page">
                                <a href="{{ item.url }}">{{ item.title }}</a>
                            </div>
                        {% endcase %}
                    {% endfor %}
                </div>
            </div>
            {% else %}
                <div class="text-center">
                    <p>No results found!</p>
                </div>
        {% endif %}
    </div>
</div>